# Internship
## Manoj.M
## Day 17
## Date: 12th Jun,2019

In [4]:
import pandas as pd

In [6]:
df=pd.read_csv("data2/claimants.csv",encoding="ANSI")

In [7]:
df

      CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0           5         0     0.0       1.0       0.0    50.0  34.940
1           3         1     1.0       0.0       0.0    18.0   0.891
2          66         1     0.0       1.0       0.0     5.0   0.330
3          70         0     0.0       1.0       1.0    31.0   0.037
4          96         1     0.0       1.0       0.0    30.0   0.038
5          97         0     1.0       1.0       0.0    35.0   0.309
6          10         0     0.0       1.0       0.0     9.0   3.538
7          36         0     1.0       1.0       0.0    34.0   4.881
8          51         1     1.0       1.0       0.0    60.0   0.874
9          55         1     0.0       1.0       0.0     NaN   0.350
10         61         0     1.0       1.0       0.0    37.0   6.190
11        148         0     0.0       1.0       0.0    41.0  19.610
12        150         1     0.0       1.0       0.0     7.0   1.678
13        150         0     1.0       1.0       0.0    40.0   0.673
14        169         1     1.0       1.0       0.0    37.0   0.143
15        171         1     1.0       0.0       0.0     9.0   0.053
16        334         1     1.0       1.0       0.0    58.0   0.050
17        360         0     0.0       1.0       0.0    58.0   0.758
18        376         1     0.0       1.0       0.0     3.0   0.000
19        401         0     1.0       1.0       0.0    38.0   4.754
20        479         0     0.0       NaN       0.0    37.0   3.100
21        480         1     1.0       1.0       0.0    39.0   0.130
22        550         0     0.0       0.0       0.0    38.0  16.161
23        569         0     0.0       NaN       0.0    30.0   0.609
24        580         1     0.0       1.0       0.0    54.0  10.040
25        608         1     1.0       1.0       0.0     3.0   0.787
26        603         1     0.0       1.0       0.0    61.0   0.150
27        606         0     0.0       1.0       0.0     0.0   0.405
28        607         1     0.0       1.0       0.0    40.0   0.405
29        630         0     0.0       1.0       0.0     NaN   0.595
...       ...       ...     ...       ...       ...     ...     ...
1310    33607         0     1.0       1.0       0.0    40.0   0.905
1311    33614         0     0.0       1.0       0.0    40.0   5.168
1312    33661         0     1.0       1.0       0.0    45.0  14.884
1313    33687         1     1.0       1.0       0.0     7.0   0.986
1314    33697         1     0.0       1.0       0.0     7.0   0.107
1315    33741         0     0.0       1.0       0.0     8.0   1.105
1316    33744         1     1.0       0.0       NaN    10.0   0.158
1317    33750         0     0.0       1.0       0.0     7.0   3.535
1318    33759         1     1.0       1.0       0.0     NaN   0.070
1319    33778         1     0.0       1.0       0.0    34.0   0.763
1320    33840         1     1.0       1.0       0.0     NaN   0.540
1321    33858         0     0.0       1.0       0.0     NaN   3.437
1322    33865         1     1.0       1.0       0.0     1.0   0.080
1323    33881         0     1.0       1.0       0.0     9.0   5.460
1324    33883         0     0.0       1.0       0.0    10.0   6.564
1325    34000         0     1.0       1.0       0.0     9.0   3.169
1326    34035         0     1.0       1.0       0.0     7.0   0.688
1327    34050         0     1.0       1.0       0.0    70.0   0.505
1328    34055         0     0.0       1.0       0.0    14.0   0.400
1329    34085         1     1.0       1.0       0.0    33.0   0.535
1330    34011         1     0.0       1.0       0.0    33.0   6.817
1331    34030         0     1.0       1.0       0.0     3.0   0.950
1332    34066         1     1.0       1.0       0.0     9.0   0.000
1333    34089         1     0.0       1.0       0.0    49.0   0.000
1334    34104         1     1.0       1.0       0.0    16.0   0.060
1335    34100         1     0.0       1.0       0.0     NaN   0.576
1336    34110         0     1.0       1.0       0.0    46.0   3.705
1337    34113         1     1.0       1.0       0.0    39.0   0.099
1338    34145         0     1.0       0.0       0.0     8.0   3.177
1339    34153         1     1.0       1.0       0.0    30.0   0.688

[1340 rows x 7 columns]

In [8]:
import numpy as np

In [9]:
import matplotlib.pyplot as plot

In [10]:
import os
os.getcwd()

'C:\\Users\\manoj kumar\\internship'

In [11]:
df.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

In [12]:
df.shape

(1340, 7)

In [12]:
df1=df.drop(["CASENUM"],axis=1,inplace=False)
df1.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

In [13]:
df2=df.drop(df.index[[2]],axis=0)
df2.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038
5       97         0     1.0       1.0       0.0    35.0   0.309

In [14]:
df.describe()#for numerical col only

,CASENUM,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS
count,1340.000000,1340.000000,1328.000000,1299.000000,1292.000000,1151.000000,1340.000000
mean,11202.001493,0.488806,0.558735,0.907621,0.017028,28.414422,3.806307
std,9512.750796,0.500061,0.496725,0.289671,0.129425,20.304451,10.636903
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4177.000000,0.000000,0.000000,1.000000,0.000000,9.000000,0.400000
50%,8756.500000,0.000000,1.000000,1.000000,0.000000,30.000000,1.069500
75%,15702.500000,1.000000,1.000000,1.000000,0.000000,43.000000,3.781500
max,34153.000000,1.000000,1.000000,1.000000,1.000000,95.000000,173.604000

In [14]:
df.isnull().sum()

CASENUM       0
ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [15]:
df.CLMAGE.mode()

0    10.0
dtype: float64

In [16]:
df.CLMAGE.value_counts().index[0]

10.0

In [17]:
df.CLMSEX.value_counts().index[0]

1.0

In [18]:
df=df.iloc[:,:].apply(lambda x:x.fillna(x.value_counts().index[0]))

In [19]:
df.isnull().sum()

CASENUM     0
ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [20]:
#df=df.iloc[:,:].apply(lambda x:x.fillna(x.mode()))

In [26]:
#df.isnull().sum()

CASENUM     0
ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [21]:
import statsmodels.formula.api as smf

In [22]:
log_ml=smf.logit("ATTORNEY~CLMSEX+CLMINSUR+CLMAGE+SEATBELT+LOSS",data=df).fit()

Optimization terminated successfully.
         Current function value: 0.610149
         Iterations 7

In [23]:
log_ml.params

Intercept   -0.074380
CLMSEX       0.315015
CLMINSUR     0.541897
CLMAGE       0.003741
SEATBELT    -0.692389
LOSS        -0.320404
dtype: float64

In [24]:
log_ml.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               ATTORNEY   No. Observations:                 1340
Model:                          Logit   Df Residuals:                     1334
Method:                           MLE   Df Model:                            5
Date:                Thu, 13 Jun 2019   Pseudo R-squ.:                  0.1194
Time:                        11:54:40   Log-Likelihood:                -817.60
converged:                       True   LL-Null:                       -928.48
                                        LLR p-value:                 6.224e-46
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.0744      0.223     -0.334      0.738      -0.511       0.362
CLMSEX         0.3150      0.120      2.633      0.008       0.081       0.549
CLMINSUR       0.5419      0.210      2.583      0.010       0.131       0.953
CLMAGE         0.0037      0.003      1.240      0.215      -0.002       0.010
SEATBELT      -0.6924      0.523     -1.324      0.186      -1.717       0.333
LOSS          -0.3204      0.029    -10.884      0.000      -0.378      -0.263
==============================================================================
"""

In [25]:
log_ml2=smf.logit("ATTORNEY~CLMAGE",data=df).fit()

Optimization terminated successfully.
         Current function value: 0.692762
         Iterations 3

In [66]:
log_ml2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               ATTORNEY   No. Observations:                 1340
Model:                          Logit   Df Residuals:                     1338
Method:                           MLE   Df Model:                            1
Date:                Wed, 12 Jun 2019   Pseudo R-squ.:               0.0001940
Time:                        13:24:04   Log-Likelihood:                -928.30
converged:                       True   LL-Null:                       -928.48
                                        LLR p-value:                    0.5483
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.0022      0.090     -0.024      0.981      -0.178       0.173
CLMAGE        -0.0017      0.003     -0.600      0.548      -0.007       0.004
==============================================================================
"""

In [26]:
log_ml3=smf.logit("ATTORNEY~SEATBELT",data=df).fit()

Optimization terminated successfully.
         Current function value: 0.691274
         Iterations 5

In [27]:
log_ml3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               ATTORNEY   No. Observations:                 1340
Model:                          Logit   Df Residuals:                     1338
Method:                           MLE   Df Model:                            1
Date:                Thu, 13 Jun 2019   Pseudo R-squ.:                0.002342
Time:                        11:54:50   Log-Likelihood:                -926.31
converged:                       True   LL-Null:                       -928.48
                                        LLR p-value:                   0.03704
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.0304      0.055     -0.551      0.582      -0.138       0.078
SEATBELT      -0.9505      0.482     -1.972      0.049      -1.895      -0.006
==============================================================================
"""

In [28]:
log_ml4=smf.logit("ATTORNEY~SEATBELT+CLMAGE",data=df).fit()

Optimization terminated successfully.
         Current function value: 0.691122
         Iterations 5

In [29]:
log_ml4.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               ATTORNEY   No. Observations:                 1340
Model:                          Logit   Df Residuals:                     1337
Method:                           MLE   Df Model:                            2
Date:                Thu, 13 Jun 2019   Pseudo R-squ.:                0.002561
Time:                        11:54:56   Log-Likelihood:                -926.10
converged:                       True   LL-Null:                       -928.48
                                        LLR p-value:                   0.09276
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.0151      0.090      0.168      0.867      -0.161       0.192
SEATBELT      -0.9556      0.482     -1.983      0.047      -1.900      -0.011
CLMAGE        -0.0018      0.003     -0.638      0.524      -0.007       0.004
==============================================================================
"""

In [30]:
log_ml5=smf.logit("ATTORNEY~CLMSEX+CLMINSUR+CLMAGE+LOSS",data=df).fit()

Optimization terminated successfully.
         Current function value: 0.610833
         Iterations 7

In [31]:
log_ml5.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               ATTORNEY   No. Observations:                 1340
Model:                          Logit   Df Residuals:                     1335
Method:                           MLE   Df Model:                            4
Date:                Thu, 13 Jun 2019   Pseudo R-squ.:                  0.1184
Time:                        11:55:06   Log-Likelihood:                -818.52
converged:                       True   LL-Null:                       -928.48
                                        LLR p-value:                 1.942e-46
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.0831      0.222     -0.374      0.709      -0.519       0.353
CLMSEX         0.3178      0.120      2.659      0.008       0.084       0.552
CLMINSUR       0.5368      0.210      2.561      0.010       0.126       0.948
CLMAGE         0.0039      0.003      1.281      0.200      -0.002       0.010
LOSS          -0.3208      0.029    -10.896      0.000      -0.378      -0.263
==============================================================================
"""

In [32]:
df=df.drop(["CASENUM"],axis=1,inplace=False)

In [33]:
df.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

In [34]:
df.shape

(1340, 6)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 6 columns):
ATTORNEY    1340 non-null int64
CLMSEX      1340 non-null float64
CLMINSUR    1340 non-null float64
SEATBELT    1340 non-null float64
CLMAGE      1340 non-null float64
LOSS        1340 non-null float64
dtypes: float64(5), int64(1)
memory usage: 62.9 KB

In [36]:
y_pred1 = log_ml5.predict(df)
y_pred1

0       0.000026
1       0.504587
2       0.590757
3       0.636789
4       0.635821
5       0.691566
6       0.343778
7       0.340070
8       0.673207
9       0.593869
10      0.255157
11      0.003407
12      0.485608
13      0.670400
14      0.704417
15      0.562770
16      0.726974
17      0.606925
18      0.614254
19      0.352789
20      0.401814
21      0.706887
22      0.005938
23      0.592452
24      0.071861
25      0.629621
26      0.654983
27      0.580235
28      0.617311
29      0.574783
          ...
1310    0.653752
1311    0.259284
1312    0.021265
1313    0.618267
1314    0.609771
1315    0.532474
1316    0.555419
1317    0.342255
1318    0.687318
1319    0.584228
1320    0.654040
1321    0.352004
1322    0.679104
1323    0.279847
1324    0.166131
1325    0.447611
1326    0.640559
1327    0.706759
1328    0.593725
1329    0.674199
1330    0.167191
1331    0.617348
1332    0.691300
1333    0.655388
1334    0.692957
1335    0.576272
1336    0.440427
1337    0.708943
1338    0.320050
1339    0.660737
Length: 1340, dtype: float64

In [37]:
df["pred_prob"] = y_pred1
df.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS  pred_prob
0         0     0.0       1.0       0.0    50.0  34.940   0.000026
1         1     1.0       0.0       0.0    18.0   0.891   0.504587
2         1     0.0       1.0       0.0     5.0   0.330   0.590757
3         0     0.0       1.0       1.0    31.0   0.037   0.636789
4         1     0.0       1.0       0.0    30.0   0.038   0.635821

In [40]:
df["PValue"] = 0
df.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS  pred_prob  PValue
0         0     0.0       1.0       0.0    50.0  34.940   0.000026       0
1         1     1.0       0.0       0.0    18.0   0.891   0.504587       0
2         1     0.0       1.0       0.0     5.0   0.330   0.590757       0
3         0     0.0       1.0       1.0    31.0   0.037   0.636789       0
4         1     0.0       1.0       0.0    30.0   0.038   0.635821       0

In [41]:
df.loc[df.pred_prob >= 0.5,"PValue"] = True
df.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS  pred_prob PValue
0         0     0.0       1.0       0.0    50.0  34.940   0.000026      0
1         1     1.0       0.0       0.0    18.0   0.891   0.504587   True
2         1     0.0       1.0       0.0     5.0   0.330   0.590757   True
3         0     0.0       1.0       1.0    31.0   0.037   0.636789   True
4         1     0.0       1.0       0.0    30.0   0.038   0.635821   True

In [42]:
confusion_matrix = pd.crosstab(df['ATTORNEY'],df.PValue)
confusion_matrix

PValue      0  True
ATTORNEY
0         430   255
1         145   510

In [43]:
acc = (435+506)/(435+506+149+250)
acc
np.mean(df.ATTORNEY == df.PValue)

0.7014925373134329